@import '../../styles/variables';
@import '../../styles/modal';

.modal-wrapper {
  .main-content {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: row;

    .tab {
      width: 50%;

      button {
        display: block;
      }
    }

    .dropzone {
      height: 400px;

      input {
        display: none;
      }
    }

    .dragging {
      background-color: #4db8a0;
    }
  }
}
