@import '../../../styles/variables';

.acion-button {
  display: inline-block;
  border-radius: 4px !important;
  height: 30px;
  background-color: $main-color;
  transition: all 0.3s;
  position: relative;
  text-decoration: none;
  padding: 0px 7px 0px 25px !important;
  color: #fff;
  margin-right: 5px;

  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    background-color: #086;
  }

  &:disabled,
  &:disabled:hover {
    background-color: #666666;
  }

  i {
    position: absolute;
    color: #fff;
    top: 6px;
    left: 6px;
    font-size: 18px;
  }

  span {
    padding-top: 5px;
    font-size: 13px;
    line-height: 30px;
    padding-left: 5px;
  }
}
