/* GRID BLOCKS */
.block-item-wrapper {
  width: 18%;
  margin: 10px 1%;
}

@media only screen and (max-width: 1120px) {
  .block-item-wrapper {
    width: 23%;
  }
}

@media only screen and (max-width: 820px) {
  .block-item-wrapper {
    width: 31%;
  }
}

@media only screen and (max-width: 520px) {
  .block-item-wrapper {
    width: 48%;
  }
}

@media only screen and (max-width: 280px) {
  .block-item-wrapper {
    width: 98%;
  }
  .header-logo-wrapper {
    display: none;
  }
}

/* END GRID BLOCKS */
