@import './variables';

.modal-overlay-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  backface-visibility: hidden;
}

.modal-wrapper {
  width: 95%;
  max-width: 600px;
  background-color: white;
  margin: 50px auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;

  button {
    background-color: $main-color;
    display: inline-block;
    border-radius: 2px;
    padding: 5px;
    color: white;

    &:disabled {
      background-color: #aaa;
      color: white;
      cursor: default;
    }
  }

  .topbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #b0bcb7;
    min-height: 30px;
    padding: 10px;
    position: relative;
    border-radius: 4px 4px 0 0;
    font-size: 0;

    .topbar-left {
      display: flex;
    }

    .topbar-right {
      display: flex;
    }
  }

  .main-title {
    padding: 10px;
    color: #666;
    font-size: 16px;
    text-align: center;
  }

  .main-content {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: row;

    .main {
      max-width: 100%;
      text-align: center;
    }

    .tab {
      flex: 1 1 0px;
      border-left: 1px solid $main-color;
      padding: 10px;

      &:first-child {
        border-left: 0;
      }

      button {
        display: inline-block;
      }

      h2 {
        text-align: center;
      }
    }
  }
}
