.subheader{
  background-color: #b0bcb7;
  color: #fff;
  clear: both;
  min-height: 30px;
  padding: 5px 0 0;
  position: relative;
  width: 100%;
  margin-top:40px;
}

.subheader-wrapper{
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.subheader-button{
  display: inline-block;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  background-color: #4db8a0;
  background-color:rgba(255,255,255,.3);
  transition: all .3s;
  position: relative;
}

.subheader-button{
  width: auto;
  text-decoration: none;
  margin-left: 5px;
  margin-bottom: 5px;
}
.subheader-button span{
  width: auto;
  color: #fff;
  font-weight: 700;
  padding: 0 10px;
  line-height: 30px;
}

.subheader-button:hover{
  background-color:rgba(255,255,255,.1);
}

.subheader-button .material-icons{
  position: absolute;
  color: #fff;
  top: 3px;
  left: 3px;
}