@import 'styles/variables';
@import 'styles/reset';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #d7dedb;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

input {
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 2px;
}
