@import 'styles/variables';
@import 'styles/reset';

* {
  box-sizing: border-box;
}

body {
  background-color: #d7dedb;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}   

.input-default {
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 2px;

} 

.button-default {
  background-color: $main-color;
  display: inline-block;
  border-radius: 2px;
  padding: 5px;
  color: white;
  
  &:disabled {
    background-color: #aaa;
    color: white;
    cursor: default;
  }
}